# Database
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_VOLUME_PATH=

# Redis
REDIS_USER=
REDIS_USER_PASSWORD=
REDIS_HOST=
REDIS_PORT=
TTL=

# Application
APP_PORT=
APP_HOST=

# Auth
SECRET=<for JWT>
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
RESET_TOKEN_EXPIRE_MINUTES=
MAX_LOGIN_ATTEMPTS=data cache time
BLOCK_LOGIN_TIME=

# Email
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=
MAIL_TLS=
MAIL_STARTTLS=
MAIL_SSL_TLS=
MAIL_DEBUG=
MAIL_FROM_NAME=
USE_CREDENTIALS=
VALIDATE_CERTS=

# If you use maildev to test mail sending, use these settings for this parametrs
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
USE_CREDENTIALS=False
VALIDATE_CERTS=True


# RabbitMQ
RABBITTMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Analytics
WEEKS=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_HOST=
MINIO_S3_PORT=
MINIO_MANAGEMENT_PORT=
MINIO_DEFAULT_BUCKET=

# Nginx
REVERSE_PROXY_HTTP_PORT=
REVERSE_PROXY_HOST=